{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

  <div class="container">
    <h1>Login</h1>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p class="text-center">Don't have an account? <a href="{% url "crew:director-create" %}">Create an account</a>.</p>
  </div>

{% endblock %}
